<h3>Input Story here</h3>
<form action="/submit_story" method="POST">
	<input type="text" name="story[user_id]" value="User ID" />
	<input type="text" name="story[message]" value="Message" />
	<input type="text" name="story[avatar_id]" value="Avatar_id" />
	<input type="submit" value="Submit" />
</form>