<h3>Create your Avatar of the forgotten King!</h3>
<h5><b>Please choose ONLY 3</b></h5>
<form action="/submit_avatar" method="POST">
	<p>
		<input type="hidden" name="avatar[user_id]" value="user_id" />
	</p>
    <p>
      <label>
        <input type="checkbox" name="avatar[bravery]" value="brave"/>
        <span>Bravery</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" name="avatar[power]" value="powerful" />
        <span>Power</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" name="avatar[determination]" value="determined"  />
        <span>Determination</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" name="avatar[funny]" value="funny" />
        <span>Funny</span>
      </label>
    </p>
    <p>
      <label>
        <input type="checkbox" name="avatar[kind]" value="kind"  />
        <span>Kind</span>
      </label>
    </p>
    <input type="submit" value="Submit" />
  </form>
  
