<h3>Input Story here</h3>
<h4><b>YOU MUST LOG IN BEFORE MAKING STORY!</b></h4>
<form action="/submit_story" method="POST">
	<input type="hidden" name="story[user_id]" value="<%=session[:id]%>" />
	<input type="text" name="story[message]" value="Message" />
	<input type="submit" value="Submit" />
</form>